@media screen and (max-width: 980px) {
  .hot-item .hot-item-img span, .kit .third-kit .play span, .shop-player .shop-player-img span {
    font-size: 15px;
    line-height: 50px; } }

@media screen and (max-width: 850px) {
  .hot-item .hot-item-img span, .kit .third-kit .play span, .shop-player .shop-player-img span {
    font-size: 15px;
    line-height: 45px; } }

@media screen and (max-width: 750px) {
  .hot-item .hot-item-img span, .shop-player .shop-player-img span {
    font-size: 15px;
    line-height: 35px; }
  .kit .third-kit .play span {
    font-size: 13px;
    line-height: 35px; } }

@media screen and (max-width: 662px) {
  .hot-item .hot-item-img span, .kit .third-kit .play span, .shop-player .shop-player-img span {
    font-size: 11px;
    line-height: 30px; }
  .top-header__content a {
    font-size: 12px; }
  #m-none {
    display: none; }
  header .header__content .title .title__content .title__content__bottom {
    text-align: center; } }

@media screen and (max-width: 550px) {
  .top-header__content a {
    font-size: 8px; }
  header nav .nav a {
    font-size: 14px; }
  .hot-item .hot-item-img span, .shop-player .shop-player-img span {
    font-size: 20px;
    line-height: 60px; }
  .hot-item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
  .hot-item-img {
    width: 100%; }
  .banner .img-banners:nth-child(1) {
    background: url("anh/banner1-m.jpg") no-repeat center center; }
  .banner .img-banners:nth-child(2) {
    background: url("anh/banner2-m.jpg") no-repeat center center; }
  .shirt .shirt-img img {
    -webkit-filter: none;
    filter: none; }
  .kit {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
  .kit .details-kit {
    width: 100%;
    margin-bottom: 20px; }
  .kit .third-kit {
    width: 100%; }
  .shop-player {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
  .shop-player .shop-player-img {
    width: 100%; }
  .caption p {
    width: 100%; }
  footer .contact {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
  footer .contact .contact-details {
    width: 100%;
    border-bottom: 1px solid gray; }
  footer .sign-up p {
    margin-left: 0;
    margin-right: 0; }
  footer .sign-up input {
    width: 80%; }
  footer .sign-up button {
    width: 15%; }
  #none {
    display: block; }
  #m-none {
    display: none; } }
