* {
  padding: 0;
  margin: 0; }

*::-moz-selection {
  color: red; }

*::selection {
  color: red; }

body {
  position: relative;
  font-family: 'Oswald', sans-serif; }

.menu-fixed {
  position: fixed;
  top: 0;
  width: 100%;
  background: #fff;
  z-index: 1; }

.top-header {
  width: 100%;
  background: #f2f2f2;
  padding: 10px 0;
  margin: auto; }
  .top-header__content {
    width: 90%;
    margin: auto;
    text-align: right; }
    .top-header__content a {
      text-decoration: none;
      color: #686868;
      padding-left: 5px;
      font-size: 14px;
      text-transform: uppercase; }
    .top-header__content a:hover {
      text-decoration: underline; }

header .header__content {
  width: 90%;
  margin: auto; }
  header .header__content img {
    position: absolute;
    top: 20px;
    width: 10%;
    display: block; }
  header .header__content .title {
    width: 75%;
    margin: auto;
    padding: 10px 0; }
    header .header__content .title .title__content .title__content__bottom {
      font-size: 30px; }
      header .header__content .title .title__content .title__content__bottom input {
        width: 25%;
        height: 100%;
        float: right;
        padding: 6.5px 12px;
        color: #555;
        border: 1px solid #ccc;
        font-family: inherit;
        font-size: 15px; }
      header .header__content .title .title__content .title__content__bottom button {
        height: 100%;
        float: right;
        padding: 6.5px 12px;
        color: #555;
        font-family: inherit;
        font-size: 15px; }

header nav .nav {
  width: 75%;
  margin: auto; }
  header nav .nav a {
    text-decoration: none;
    color: #343535;
    text-transform: uppercase;
    margin-right: 15px; }
  header nav .nav a:hover {
    text-decoration: underline; }

.banner {
  width: 100%;
  padding: 10px 0;
  margin-bottom: 20px;
  margin-top: 155px; }
  .banner .img-banners {
    background: url("anh/banner1.jpg") no-repeat center center;
    background-size: cover;
    width: 100%;
    height: 440px; }
  .banner .img-banners:nth-child(2) {
    background: url("anh/banner2.jpg") no-repeat center center;
    background-size: cover;
    width: 100%;
    height: 440px; }

.hot-item {
  width: 90%;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  margin-bottom: 50px; }
  .hot-item-img {
    width: 33%;
    height: auto;
    margin: 0 5px;
    position: relative; }
    .hot-item-img img {
      width: 100%;
      height: 100%; }
    .hot-item-img span {
      position: absolute;
      top: 60%;
      width: 100%;
      height: 30%;
      background: rgba(235, 20, 28, 0.8);
      text-align: center;
      color: #fff;
      font-size: 20px;
      line-height: 60px;
      text-transform: uppercase;
      -webkit-transition: 0.5s;
      -o-transition: 0.5s;
      transition: 0.5s; }
  .hot-item-img:hover span {
    background: rgba(235, 20, 28, 0);
    border-top: 1px solid yellow;
    border-bottom: 1px solid yellow;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    color: yellow; }

.shirt {
  width: 90%;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  margin-bottom: 50px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }
  .shirt .shirt-img {
    width: 16.6666%;
    padding: 0 5px;
    overflow: hidden; }
    .shirt .shirt-img img {
      width: 100%;
      height: 100%;
      -webkit-filter: grayscale(100%);
      filter: grayscale(100%); }
    .shirt .shirt-img img:hover {
      -webkit-filter: none;
      filter: none; }

.caption {
  width: 90%;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row; }
  .caption p {
    width: 50%;
    margin-left: 25px;
    margin-bottom: 10px;
    font-family: 'Oswald', sans-serif;
    font-size: 20px;
    font-weight: normal;
    text-transform: uppercase; }

.kit {
  width: 90%;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  margin-bottom: 50px; }
  .kit .details-kit {
    width: 50%;
    background-image: url("anh/kit-bg.jpg");
    background-size: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    margin: 0 5px; }
    .kit .details-kit .kit-img {
      width: 50%;
      margin-right: 25px;
      margin-top: 20%;
      margin-bottom: 25%; }
      .kit .details-kit .kit-img img {
        width: 100%; }
    .kit .details-kit .kit-img-info {
      width: 48%; }
      .kit .details-kit .kit-img-info .select {
        width: 100%;
        height: 50%;
        margin-top: 60%; }
        .kit .details-kit .kit-img-info .select select {
          width: 90%;
          background-image: url("anh/kit2.png");
          background-repeat: no-repeat;
          background-position: top right;
          background-color: #fff;
          -webkit-appearance: none;
          -moz-appearance: none;
          appearance: none;
          height: 28px;
          margin-bottom: 5px;
          padding-left: 10px;
          font-family: 'Oswald', sans-serif;
          border-radius: 0%;
            border-radius-color: #242021; }
        .kit .details-kit .kit-img-info .select a {
          text-decoration: none; }
          .kit .details-kit .kit-img-info .select a .buy {
            margin-top: 15px;
            margin-left: 8%;
            width: 70%;
            background: red;
            color: #fff;
            text-align: center;
            padding: 5px; }
  .kit .third-kit {
    width: 50%;
    margin: 0 5px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row; }
    .kit .third-kit .play {
      width: 33%;
      margin: 0 5px;
      position: relative; }
      .kit .third-kit .play img {
        width: 100%;
        height: 100%; }
      .kit .third-kit .play span {
        position: absolute;
        top: 80%;
        width: 100%;
        height: 12.5%;
        background: rgba(235, 20, 28, 0.8);
        text-align: center;
        color: #fff;
        font-size: 20px;
        line-height: 60px;
        text-transform: uppercase;
        -webkit-transition: 0.5s;
        -o-transition: 0.5s;
        transition: 0.5s; }
    .kit .third-kit .play:hover span {
      background: rgba(235, 20, 28, 0);
      border-top: 1px solid yellow;
      border-bottom: 1px solid yellow;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      color: yellow; }
    .kit .third-kit #other {
      margin-left: 5px; }

.shop-player {
  width: 90%;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  margin-bottom: 50px; }
  .shop-player .shop-player-img {
    width: 33%;
    margin: 0 5px;
    position: relative; }
    .shop-player .shop-player-img span {
      position: absolute;
      top: 60%;
      width: 100%;
      height: 30%;
      background: rgba(235, 20, 28, 0.8);
      text-align: center;
      color: #fff;
      font-size: 20px;
      text-transform: uppercase;
      line-height: 60px;
      -webkit-transition: 0.5s;
      -o-transition: 0.5s;
      transition: 0.5s; }
    .shop-player .shop-player-img img {
      width: 100%; }
  .shop-player .shop-player-img:hover span {
    background: rgba(235, 20, 28, 0);
    border-top: 1px solid yellow;
    border-bottom: 1px solid yellow;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    color: yellow; }

footer {
  width: 100%; }
  footer .sign-up {
    width: 100%;
    background: #ededed;
    margin: auto;
    margin-bottom: 30px;
    padding-top: 10px; }
    footer .sign-up p {
      text-align: center;
      font-size: 20px; }
    footer .sign-up .special {
      width: 90%;
      margin: auto; }
    footer .sign-up input {
      width: 85%;
      height: 30px;
      margin: 10px 0; }
    footer .sign-up button {
      border-radius: 0%;
      height: 35px;
      width: 10%;
      background: red;
      color: #fff;
      text-transform: uppercase;
      cursor: pointer; }
  footer .contact {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    width: 90%;
    margin: auto;
    text-transform: uppercase;
    color: #767676;
    text-decoration: none;
    text-align: center;
    line-height: 30px;
    padding-bottom: 30px; }
    footer .contact a {
      color: #a7a5a6;
      text-decoration: none;
      text-transform: none; }
    footer .contact a:hover {
      text-decoration: underline; }
    footer .contact .contact-details {
      width: 25%; }
      footer .contact .contact-details #other-a {
        color: #a7a5a6;
        text-transform: none; }

#none {
  display: none; }
